body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark-theme-main-letter: #ffffff;
  --dark-theme-hover-letter: #5bcc8a;
  --dark-main-theme:#282c34;
  /* --dark-main-theme:#121212;
  --dark-bg:#262525; */
  --dark-box-shadow:#121418;
}

* {
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}